/* Колір основного тексту #212121 */
/* Колір вторинного тексту #757575 #FFFFFF */
/* Колір основного фону #FFFFFF */
/* Допоміжний колір фону #F5F4FA #ECECEC*/
/* Колір хедеру #FFFFFF */
/* Колір футеру #2F303A */
/* Колір тексту футера rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --additional-text-color: #FFFFFF;
    --bg-banner: #C4C4C4;
    --hover-banner-button: #188CE8;
    --main-bg-color: #FFFFFF;
    --portfolio-border-color: #EEEEEE;
    --secondary-bg-color: #F5F4FA;
    --header-border-color: #ECECEC;
    --header-color: #FFFFFF;
    --style-design-color: #2196F3;
    --client-logo-color: #AFB1B8;
    --logo-design-color: #000000;
    --logo-footer-color: #FFFFFF;
    --footer-color: #2F303A;
    --text-address-color: rgba(255, 255, 255, 0.6);
    --icon-footer-color: rgba(255, 255, 255, 0.1);
}

a {
    display: inline-block;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    margin: 0;
}
p {
    font-style: normal;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}
img {
    display: block;
}

/* Контейнер */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */

.header {
    border-bottom: solid 1px;
    border-color: var(--header-border-color);
}
.header-body {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: space-between;
}
.nav {
    display: inline-flex;
    color: var(--primary-text-color);
    text-decoration: none;
}
.nav-link {
    color: var(--primary-text-color);
    text-decoration: none;
}
.list {
    list-style: none;
}

.hidden-title {
    display:none
}
.link {
    text-decoration: none;
    padding: 32px 0px;
}
.link.current{
    color: var(--style-design-color);
}
.nav-list {
    margin-left: 93px;
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
}
.nav-list-menu {
    display: inline-block;
    margin-right: 50px;
}
.nav-list-menu:last-child {
    margin-right: 0px;
}

/* Зв'язок, телефон і мейл */

.connection {
    display: inline-flex;
    color: var(--secondary-text-color);
    font-weight: 500;
}
.connection-list {
    margin-right: 50px;
}
.connection-list:last-child {
    margin-right: 0px;
}
.connection-link {
    padding: 32px 0px;
    text-decoration: none;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}
.connection-link:hover, .connection-link:focus {
    color:var(--style-design-color);
    fill: var(--style-design-color);
}
.icon-conection {
    margin-right: 10px;
}

/* Логотип */

.logo {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    text-decoration: none;
    color: var(--style-design-color);

}
.logo-design {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    color: var(--logo-design-color);
}

/* Основа */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section p {
    color: var(--secondary-text-color);
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

/* Банер */

.banner {
    padding: 200px 0;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--bg-banner);
    background-image: 
        linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 100%, transparent),
        url('../images/banner_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-title {
    max-width: 696px;
    margin: 0 auto 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--additional-text-color);
}
.banner-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 0;
    margin: 0 auto;
    padding: 10px 32px;
    border-radius: 4px;
    color: var(--additional-text-color);
    background-color: var(--style-design-color);
}
.banner-button:hover, .banner-button:focus {
    background-color: var(--hover-banner-button);
}

/* блок "Особливості" */

.section-list h3 {
    text-transform: uppercase;
}
.feature-list {
    display: flex;
    justify-content: center;
}
.feature-item {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 30px;
}
.feature-item:last-child {
    margin-right: 0px;
}
.list-specialty {
    padding-right: 30px;
}
.list-special {
    display: flex;
}
.list-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.list-text {
    font-size: 14px;
    line-height: 1.714;
}

/* блок "Чим ми займаємся" */

.section-engage {
    padding-top: 0px;
}
.list-engage {
    display: flex;
}
.list-img {
    margin-right: 30px;
}
.list-img:last-child {
    margin-right: 0;
}

/* Блок "Наша команда" */

.section-team {
    background-color: var(--secondary-bg-color);
}
.list-team {
    display: flex;
}
.title-team {

}
.list-name {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.1875;
    margin-top: 30px;
    margin-bottom: 10px;
}
.job-title {
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    margin-bottom: 16px;
}
.list-img {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}
.img {
    margin-right: 30px;
    background-color: var(--main-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 
    rgba(0, 0, 0, 0.12), 0px 1px 1px 
    rgba(0, 0, 0, 0.14), 0px 2px 1px 
    rgba(0, 0, 0, 0.2);
}
.img:last-child {
    margin-right: 0px;
}

/* Соціальні мережі команди */

.social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.social-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}
.social-item:first-child {
    margin-left: 0;
}
.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.social-link:hover, .social-link:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--additional-text-color);
    border: 1px solid var(--style-design-color);
    background-color: var(--style-design-color);
    border-radius: 50%;
    box-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
}
.social-icon {
    fill: var(--client-logo-color);
}
.social-icon:hover, .social-icon:focus {
    fill: var(--additional-text-color);
}

/* блок "Постійні клієнти" */

.client-list {
    display: flex;
    justify-content: space-between;
}
.client-item:last-child {
    margin-right: 0px;
}
.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: var(--client-logo-color);
    border: 1px solid var(--client-logo-color);
    border-radius: 4px;
}
.client-link:focus, .client-link:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--style-design-color);
    border: 1px solid var(--style-design-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
}

/* Сторінка Портфоліо */
/* Фільтр портфоліо */


.portfolio-button {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    padding: 6px 22px;
    cursor: pointer;
    border: transparent;
    text-align: center;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
}
.portfolio-button:not(:last-child) {
    margin-left: 8px;
}
.portfolio-button:hover, .portfolio-button:focus {
    background-color: var(--style-design-color);
    color: var(--additional-text-color);
    box-shadow: 0px 3px 1px 
    rgba(0, 0, 0, 0.1), 0px 1px 2px 
    rgba(0, 0, 0, 0.08), 0px 2px 2px 
    rgba(0, 0, 0, 0.12);
}

/* Проекти портфоліо*/

.list-bt-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primary-text-color);
}
.description {
    font-size: 16px;
    line-height: 1.875;
    color: var(--secondary-text-color);
}
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.portfolio-link:hover, .portfolio-link:focus {
    display: block;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.img-portfolio {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    background-color: var(--main-bg-color);
}
.div-container {
    padding: 20px 24px 20px 24px;
    border-left: 1px solid var(--portfolio-border-color);
    border-right: 1px solid var(--portfolio-border-color);
    border-bottom: 1px solid var(--portfolio-border-color);
    
}

/* footer */

.footer {
    background-color: var(--footer-color);
    padding: 60px 0px;
}
.box-footer {
    display: flex;
    align-items: baseline;
}
.address-box-footer {
    width: 231px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
.logo-footer {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    text-decoration: none;
    color: var(--style-design-color);
}
.logo-design-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    color: var(--logo-footer-color);
}
.address {
    font-size: 14px;
    line-height: 1.714;
}
.list-address {

}
.list-footer {
    margin-bottom: 9px;
}
.list-footer:last-child {
    margin-bottom: 0px;
}
.footer-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-style: normal;
    color: var(--text-address-color);
}
.footer-link:hover, .footer-link:focus {
    color: var(--additional-text-color);
}

/* Приєднуйтесь */

.social-box-footer {
    width: 206px;
    margin: 0;
    margin-left: 70px;
    padding: 0;
    
}
.social-title-footer {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 0;
    color: var(--additional-text-color);
}
.social-list-footer {
    display: flex;
}
.social-item-footer {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}
.social-item-footer:first-child {
    margin-left: 0;
}
.social-link-footer {
    background-color: var(--icon-footer-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.social-icon-footer {
    fill: var(--logo-footer-color);
}
.social-link-footer:hover, .social-link-footer:focus {
    color: var(--additional-text-color);
    background-color: var(--style-design-color);
    border-radius: 50%;
}